* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "circular-std-medium";
    src: url(CSSFonts/circular-std-medium-500.ttf)
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, #007ced, #8e738a);
}

.clouds1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background: url(Clouds/clouds1000.png),
                 url(Clouds/clouds1200_1.png), 
                 url(Clouds/clouds1000_blur3.png);
    animation: wind 50s linear infinite;
   
}

@keyframes wind {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.cities {
    display: flex;
    justify-content: space-around;
    width: 500px; 
    color: #fff;
    box-sizing: border-box;
    position: relative; 
    font-size: 35px;
    margin-bottom: 30px;
}

.weather-widget {   
   width: 700px;
    background:linear-gradient(to bottom, #007ced, #8e738a);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px; 
    position: relative; 
    border: 3px solid white;
    border-radius: 5px;
}

.current-weather {
    background: linear-gradient(to bottom, #007ced, #8e738a);
    text-align: center;
     height: 200px;
    border: 2px solid white;
    width: 100%;
    font-size: 24px;
    color: #fff;
    padding: 20px;
    position: relative;
}


.forecast {
    display: flex;
    justify-content: center;
    height: 170px;
}

.day-box {
     width:100%;
     height: 100%;
     text-align: center;
     padding: 30px;
     border: 3px solid white;
     box-sizing: border-box;
     margin: 0;
     background: linear-gradient(to bottom, #007ced, #8e738a);
     color: #fff;
     font-size: 20px;
}

.day-box i {

    font-size: 50px;
    
}

.current-weather i {
    font-size: 80px; 
    position: relative;
    display: inline-block; 
    margin-right:150px;
}

.current-weather i::after {
    content: "19°\A CLOUD";
    font-size: 24px; 
    position: absolute;
    left: 120px; 
    top: 20px; 
}