* {
    box-sizing: border-box;
   font-family: Arial, sans-serif; 
   margin: 0;
   padding: 0;
 }
 .chart-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 }
 .chart{
     width: 514px;
     margin: auto;
     
 }
 .project {
     display: flex;
   align-items: center;
   margin-bottom: 5px;
   box-shadow: 0 0 1px #2d2d2d;
   width: 600px;
 }
 
 .task {
   width: 40px;
   height:40px;
   border: 4px solid #E4E4E7;
   background: #E4E4E7;
   border-radius: 50%;
   position: relative;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .progress {
   width: 130px;
   height: 6px; 
   background: #E4E4E7;
   position: relative;
   z-index: 1;
 }
 
 .progress-bar {
   height: 100%;
   position: absolute;
   left: -4px;
   top: 0; 
   z-index: 2;
 }
 
 .running .progress-bar {
   background-color: #1C84C6;
   width: 100px; 
 }
 
 .passed .progress-bar {
   background-color: #1AB394;
   width: 140px; 
 }
 
 .failed .progress-bar {
   background-color: #ED5565;
   width: 140px;
 }
 
 .pending.task {
   background: #F8AC59; 
 }
 
 .running.task {
   background: #1C84C6;
 }
 
 .passed.task {
   background: #1AB394;
 }
 
 .failed.task {
   background: #ED5565;
 }
 
 .status-pending {
  width: 200px;
   color:#F8AC59 ;
   padding-left: 90px;
   font-size: 18px;
 }
 .status-running {
    width: 200px;
    color:#1C84C6;
    padding-left: 90px;
    font-size: 18px;
  }
  .status-passed {
    width: 180px;
    color:#1AB394 ;
    padding-left:90px ;
    font-size: 18px;
  }
  .status-failed{
    width: 180px;
    color:#ED5565 ;
    padding-left: 90px;
    font-size: 18px;
  }
  .header {
   display: flex;
   gap: 95px;
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 10px;
   text-align: center;
   width: 600px;
   
  
 }
 .task i {
   color: white;
   font-size: 20px;
   position: relative;
 }
 
 .pending i {
   font-size: 16px;
   position: relative;
 }
 .pending-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;

 }
 .pending-icon2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #F8AC59;
  display: inline-block;
  position: relative;
 }
 @media  (max-width: 768px) {
  .chart-container {
    height: 100vh;
  }

  .chart {
    
    max-width: 600px; 
    margin: 0 auto; 
  }

  .project {
    width: 100%;
  }

  .label {
    font-size: 18px; 
    margin-bottom: 5px; 
  }

  .task {
    width: 35px; 
    height: 35px; 
  }

  .status-pending,
  .status-running,
  .status-passed,
  .status-failed {
    font-size: 14px; 
    width: 120px;
    text-align: center;
    padding: 5px 0; 
  }

}

